.header{
    background-color: rgb(20, 14, 14);
    line-height: 50px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
}
.color{
    color:goldenrod ;
}
.total-exbition{
    color: darkgoldenrod;
    font-size: 50px;
}
